<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<link rel="stylesheet" href="home.component.css">
</head>
<body>
<header>
<h1>Kharla Rhoen A. Manabat</h1>
</header>



<section>
    <img src={{imageUrl}} alt="Header Image" [width]="imageW" [height]="imageH"/>
     
<br>
<p>Hello! I'm Kharla Manabat. Welcome to my homepage.</p><br>
</section>

<footer>
<p>Contact me at: kharlarhoen@gmail.com</p>
</footer>
</body>
</html>
