<div class="card">
  <div class="card-content">
    <h2>Angular Pipes Activity</h2>
   

<p>Unformatted: {{ presentDate }} </p>
<p>Default Format: {{ presentDate | date | uppercase }} </p>
<p>Short Date: {{ presentDate | date:'shortDate' }} </p>
<p>Medium Date: {{ presentDate | date:'mediumDate' }} </p>
<p>Long Date: {{ presentDate | date:'longDate' }} </p>

<hr />

<h2>Dates with parameters</h2>
<p>dd/mm/yyyy: {{ presentDate | date: 'd MM yy' }} </p>

<hr />
<h2>Formatting Time</h2>
<p>Standard Time: {{ presentDate | date:'shortTime' }}</p>
<p>Medium Time: {{ presentDate | date:'mediumTime' }}</p>
<p>Long Time: {{ presentDate | date:'longTime' }}</p>

<hr /> 
<h2>Async Pipe</h2>
<div>
  Seconds changing in Time:{{ time$ | async | date:'mediumTime' }}
</div>


<hr /> 
<h2>Slice Pipe</h2>
<div> 
  <h3>Start index:- {{Fruits | slice:2}}</h3>
  <h4>Start and end index:- {{Fruits | slice:1:4}}</h4>
  <h5>Negative index:- {{Fruits | slice:2}}</h5>
  <h6>Negative start and end index:- {{Fruits | slice:-4:-2}}</h6>

</div>

<hr />
<h2>Currency Pipe</h2>
<p>{{ price | currency:'':true}}</p>
<p>{{ price | currency:'INR' }}</p>
<p>{{ price | currency:'PHP' }}</p>

<hr />
<h2>Decimal Pipe</h2>
<div>
  <p> Apply formatting:- {{decimalNum1 | number: '3.1'}} </p>
  <p> Apply formatting:- {{decimalNum2 | number: '2.1-4'}} </p>
  <p> {{decimalNum1 | number}} </p>
  <p> {{decimalNum2 | number}} </p>
  <p> {{decimalNum3 | number}} </p>

</div>

<hr />
<h2> JSON Pipe</h2>
<p>Object: {{ data | json}} </p>
<p>Object: {{ data2 | json}} </p>
<p>Object: {{ data3 | json}} </p>

</div>
</div>