<br>
<h3 class="text-center">Join our Research Conferences around the Globe</h3>
<br>
<div class="row justify-content-center">
    <div class="col-auto">
<table class="table table-bordered" style="width:70em">
  <tbody>
    <td>
        <div class="card" style="width: 18rem;">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">France</h5>
              <p class="card-text">The largest country in Western Europe, has long been a gateway between the 
                  continent's northern and souther regions.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Archictecture and Fine Arts</li>
              <li class="list-group-item">Cultural Events</li>
              <li class="list-group-item">Safety and Security</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link" style="text-decoration: none;">Learn more</a>
            </div>
          </div>
    </td>
   <td>
    <div class="card" style="width: 18rem;">
        <img src="https://p1.pxfuel.com/preview/584/132/1013/596cb7e77f4b7.jpg" width="270" height="180"/>
        <div class="card-body">
          <h5 class="card-title">Seoul</h5>
          <p class="card-text">Korean Soul, formally Soul-tukpyoisi ("Special City of Seoul"), city and 
              capital of South Korea (the Replublic of Korea).
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Humanities and Arts</li>
          <li class="list-group-item">Cultural Events</li>
          <li class="list-group-item">Safety and Security</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link" style="text-decoration: none;">Learn more</a>
        </div>
      </div>
    </td>
    <td>
        <div class="card" style="width: 18rem;">
            <img src="https://p1.pxfuel.com/preview/396/749/291/bay-bridge-san-francisco-architecture-sea-water-sky.jpg" width="270" height="180" />
            <div class="card-body">
              <h5 class="card-title">San Franciso</h5>
              <p class="card-text">It is a cultural and financial centre of the western United States 
                  and one of the country's most cosmopolitan cities.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Cultural Events</li>
              <li class="list-group-item">Safety and Security</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link" style="text-decoration: none;">Learn more</a></div>
          </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://p1.pxfuel.com/preview/847/436/854/harbad-university-boston-school-campus-buildings.jpg" width="270" height="180">
                <div class="card-body">
                  <h5 class="card-title">Boston</h5>
                  <p class="card-text">Best known for its famous baked beans, Ferway Park, The Boston Marathon
                      and  of course for the bar from Cheers
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Engineering and Tech</li>
                  <li class="list-group-item">Cultural Events</li>
                  <li class="list-group-item">Safety and Security</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link" style="text-decoration: none;">Learn more</a>
                </div>
              </div>
            </td>
    </tbody>
</table>
</div>
</div>